html
  head
    style
      include style.css
    title #{title} - 六十四式
  body
    h1 Viewer
    nav
      ul(class="navUL")
        a(href="/" class="navHyperLink")
          li(class="navLI") Article Index
      ul(class="navUL")
        a(href="/writer" class="navHyperLink")
          li(class="navLI") Write an article
    h2(class="title") #{title}
    h3(class="author") author: #{author}
    main #{content}