html
  head
    style
      include style.css
    title Writer - 六十四式
  body
    h1 Writer
    nav
      ul(class="navUL")
        a(href="/" class="navHyperLink")
          li(class="navLI") Article Index
      ul(class="navUL")
    form(action="/newArticle" method="POST")
      label(for="title") Title: 
      input(type="textbox" placeholder="article title" name="title")
      br
      label(for="author") Author: 
      input(type="textbox" placeholder="author" name="author")
      br
      label(for="content") Text: 
      textarea(placeholder="write your stuff here" name="content" autocomplete="off")
      br
      button Submit

    p Note: Sorry, tags don't work yet!
    p Note: すみません、タグが機能しない!
      
    a(href="/") Article Index